asgiref==3.2.10
cffi==1.14.1
cryptography==3.0
Django==3.1.9
django-fernet-fields==0.6
djangorestframework==3.11.0
mysqlclient==2.0.1
pycparser==2.20
python-decouple==3.3
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
